.flexRowCenter{
    display: flex;
    justify-content: center;
}

.flexRowSpaceBetween{
    display: flex;
    justify-content: space-between;
}

.flexRowSpaceAround{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

::-webkit-scrollbar{
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    border-radius: 4px;
    height: 50px;
    background: rgba(93, 92, 92,0.2);
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background: rgba(253, 250, 250, 0.4);
}


